<div class="row">
  <header id="add-todo" class="large-6 medium-6 small-6 large-centered medium-centered small-centered columns">
    <div class="logo">
      <h2 class="text-centered">My Todo List</h2>
    </div>
    <input type="text" placeholder="Type new todo here ..." />
    <input type="button" value="Add Todo" id="submit" class="button tiny" />
    <span class="alert round label" style="display:none;">Description Required!</span>
  </header>
</div>
<div class="row">
  <div class="large-6 medium-6 small-6 large-centered medium-centered small-centered columns main">
    <div id="todo-list">Loading ...</div>
  </div>
</div>