// add in some bootstrap goodness
.text-centered { text-align: center; }
$fdn-btn-blue: #008cba;

// main custom styles
body {
  background: image-url("green_cup.png");
}

header {
  @extend .main;
  padding: 10px;
  span.label {
    float: right;
    margin-top: 10px;
  }
}

.main {
  border: 2px solid green;
  background: white;
}
article {
  background: white;
  border-bottom: 1px solid #ccc;
  span {
    display: inline-block;
    margin: 4px 0 0 10px;
    cursor: pointer;
  }
  i {
    float: right;
    cursor: pointer;
    display: inline-block;
    margin: 10px 0 0 3px;
    &.destroy:hover { color: red; }
    &.show:hover { color: $fdn-btn-blue; }
  }
  .complete span {
    color: #bbb;
    text-decoration: line-through;
  }
  input[type="text"] {
    margin-top: 15px;
  }
}